flask==3.1.0
flask-cors==5.0.1
opencv-python==4.11.0.86
numpy==2.2.3
ffmpeg-python==0.2.0
scenedetect[opencv]>=0.6
requests==2.32.3
pyyaml==6.0.2
pillow
python-dotenv==1.0.1
google-api-python-client>=2.0.0
google-auth>=2.0.0
google-auth-httplib2>=0.2.0
google-auth-oauthlib>=1.0.0
